/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* .add {
  margin-top: 10px;
  margin-left: 10px;
} */
td:hover {background-color: rgb(204,217,223);}
td {
  background: #f5f5f5
}

.food-group {
  margin-top: 10px;
  transition: 0.3s;
}

.food-group:hover {
  background: #4e4e4e;
  transform: scale(1.02, 1.02)
}

.nutrient-list {
  margin-top: 10px;
}

.recipe-list {
  background: #f5f5f5;
  margin-left: 12px;
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  color: #444
}
.new-recipe {
  transition: .3s;
}
.new-recipe:hover {
  transform: scale(1.01, 1.01);

}
.recipe-text {
  font-family: 'Bree Serif', serif;
}
  

.add {
  margin-left: -151px;
  margin-top: 10px;
  box-shadow: 5px 10px 8px #888888;
  transition: 0.3s;
}
.add:hover {
  margin-left: 0px;
}
.find {
  margin-left: -131px;
  box-shadow: 5px 10px 8px #888888;
  transition: 0.3s;
}
.find:hover {
  margin-left: 0px;
}
a {
  color: black;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

